@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;

    --background: 211 53% 11%;
    --foreground: 60 9% 87%;

    --card: 215 36% 17%;
    --card-foreground: 60 9% 87%;

    --popover: 215 36% 17%;
    --popover-foreground: 60 9% 87%;

    --primary: 212 30% 36%;
    --primary-foreground: 60 9% 87%;

    --secondary: 213 26% 52%;
    --secondary-foreground: 211 53% 11%;

    --muted: 215 20% 25%;
    --muted-foreground: 213 15% 75%;

    --accent: 213 26% 52%;
    --accent-foreground: 211 53% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9% 95%;

    --border: 215 18% 28%;
    --input: 215 18% 28%;
    --ring: 213 26% 52%;

    --chart-1: 212 30% 36%;
    --chart-2: 213 26% 52%;
    --chart-3: 215 36% 17%;
    --chart-4: 211 53% 11%;
    --chart-5: 60 9% 87%;

    /* Sidebar */
    --sidebar-background: 215 36% 14%;
    --sidebar-foreground: 60 9% 87%;
    --sidebar-primary: 212 30% 36%;
    --sidebar-primary-foreground: 60 9% 87%;
    --sidebar-accent: 215 20% 25%;
    --sidebar-accent-foreground: 60 9% 87%;
    --sidebar-border: 215 18% 22%;
    --sidebar-ring: 213 26% 52%;
  }

  .dark {
    --radius: 0.5rem;

    --background: 211 53% 11%;
    --foreground: 60 9% 87%;

    --card: 215 36% 17%;
    --card-foreground: 60 9% 87%;

    --popover: 215 36% 17%;
    --popover-foreground: 60 9% 87%;

    --primary: 212 30% 36%;
    --primary-foreground: 60 9% 87%;

    --secondary: 213 26% 52%;
    --secondary-foreground: 211 53% 11%;

    --muted: 215 20% 25%;
    --muted-foreground: 213 15% 75%;

    --accent: 213 26% 52%;
    --accent-foreground: 211 53% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9% 95%;

    --border: 215 18% 28%;
    --input: 215 18% 28%;
    --ring: 213 26% 52%;

    --chart-1: 212 30% 36%;
    --chart-2: 213 26% 52%;
    --chart-3: 215 36% 17%;
    --chart-4: 211 53% 11%;
    --chart-5: 60 9% 87%;

    /* Sidebar */
    --sidebar-background: 215 36% 14%;
    --sidebar-foreground: 60 9% 87%;
    --sidebar-primary: 212 30% 36%;
    --sidebar-primary-foreground: 60 9% 87%;
    --sidebar-accent: 215 20% 25%;
    --sidebar-accent-foreground: 60 9% 87%;
    --sidebar-border: 215 18% 22%;
    --sidebar-ring: 213 26% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
